# Build Folders
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet Packages
*.nupkg
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Visual Studio Code
.vscode/

# Other files
*.db
*.pdb
